<div class="leaderboard">
    <div class="row"">
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-3">{{ startWeek | date:'dd MMM yyyy' }} - {{ endWeek | date:'dd MMM yyyy' }}</div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <ul>
                <li ng-repeat="points in contributor.points | orderObjectBy:'points':true | filter:greaterThan('points', 0) | limitTo:3">
                    {{ points.project }}: <strong>{{ points.points }}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" ng-repeat="contributor in leaderboard | orderObjectBy:'totalPoints':true | filter:greaterThan('totalPoints', 0)">
        <div class="col-md-1">{{ $index+1 }}</div>
        <div class="col-md-1"><img src ng-src="{{ contributor.profile.avatar_url }}" class="avatar img-circle"></div>
        <div class="col-md-3"><h3>{{ contributor.profile.login }}</h3></div>
        <div class="col-md-1"><h3>{{ contributor.totalPoints }}</h3></div>
        <div class="col-md-6">
            <ul>
                <li ng-repeat="points in contributor.points | orderObjectBy:'points':true | filter:greaterThan('points', 0) | limitTo:3">
                    {{ points.project }}: <strong>{{ points.points }}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>

