<div class="contributor">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"><img src ng-src="{{ contributor.profile.avatar_url }}" class="avatar-big img-circle"></div>
            <div class="col-md-5"><h3>{{ contributor.profile.login }}</h3></div>
            <div class="col-md-1"><h3>{{ contributor.total.points }}</h3></div>
            <div class="col-md-4">
                <ul>
                    <li>commits: <span class="label label-info">{{ contributor.total.commits }}</span></li>
                    <li>additions: <span class="label label-success">{{ contributor.total.additions }}</span></li>
                    <li>deletions: <span class="label label-danger">{{ contributor.total.deletions }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="leaderboard" ng-if="contributor.total[$parent.sortItem]">
    <div class="panel panel-default" ng-repeat="project in contributor.points | orderObjectBy:$parent.sortItem:true | filter:greaterThan($parent.sortItem, 0)">
        <div class="panel-body">
            <div class="col-md-1"><h3>{{ $index+1 }}</h3></div>
            <div class="col-md-1"><img src ng-src="http://robohash.org/{{ project.project | md5 }}" class="avatar img-circle"></div>
            <div class="col-md-5"><h3><a href ng-href="#/projects/{{ project.project }}">{{ project.project.split('/')[1] }}</a></h3></div>
            <div class="col-md-1"><h3>{{ project[$parent.sortItem] }}</h3></div>
            <div class="col-md-4 vertical-center">
                <progressbar value="project[$parent.sortItem] / contributor.total[$parent.sortItem] * 100" type="{{ {points:'', commits:'info', additions:'success', deletions:'danger'}[$parent.sortItem] }}">
                    <span ng-hide="project[$parent.sortItem] / contributor.total[$parent.sortItem] < 0.05">{{ (project[$parent.sortItem] / contributor.total[$parent.sortItem]) * 100 | number:0 }}%</span>
                </progressbar>
            </div>
        </div>
    </div>
</div>
<div ng-if="!contributor.total[$parent.sortItem]">
    <div class="panel panel-default">
        <div class="panel-body" ng-cloak>
            Oops, no {{ $parent.sortItem }} found for the selected period!
        </div>
    </div>
</div>
