<div class="contributor">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"><img src ng-src="{{ contributor.data.profile.avatar_url }}" class="avatar-big img-circle"></div>
            <div class="col-md-5"><h3 ng-bind="contributor.data.profile.login"></h3></div>
            <div class="col-md-1"><h3 ng-bind="contributor.data.total.points"></h3></div>
            <div class="col-md-4">
                <ul>
                    <li>commits: <span class="label label-info" ng-bind="contributor.data.total.commits"></span></li>
                    <li>additions: <span class="label label-success" ng-bind="contributor.data.total.additions"></span></li>
                    <li>deletions: <span class="label label-danger" ng-bind="contributor.data.total.deletions"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="chart-area" ng-if="contributor.data.total[main.sortItem]">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="chart" google-chart chart="contributor.chart"></div>
            </div>
        </div>
    </div>
</div>

<div class="leaderboard" ng-if="contributor.data.total[main.sortItem]">
    <div class="panel panel-default" ng-repeat="project in contributor.data.points | orderObjectBy:main.sortItem:true | filter:main.greaterThan(main.sortItem, 0)">
        <div class="panel-body">
            <div class="col-md-1"><h3 ng-bind="$index+1"></h3></div>
            <div class="col-md-1"><img src ng-src="http://robohash.org/{{ project.project | md5 }}" class="avatar img-circle"></div>
            <div class="col-md-5"><h3><a href ng-href="#/projects/{{ project.project }}" ng-bind="project.project.split('/')[1]"></a></h3></div>
            <div class="col-md-1"><h3 ng-bind="project[main.sortItem]"></h3></div>
            <div class="col-md-4 vertical-center">
                <div uib-progressbar value="project[main.sortItem] / contributor.data.total[main.sortItem] * 100" type="{{ main.sortItemStyle() }}">
                    <span ng-hide="$parent.percent < 5">
                        <span ng-bind="$parent.percent | number:0"></span>%
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!contributor.data.total[main.sortItem]">
    <div class="panel panel-default">
        <div class="panel-body" ng-cloak>
            Oops, no <span ng-bind="main.sortItem"></span> found for the selected period!
        </div>
    </div>
</div>
