<div class="leaderboard">
    <div class="panel panel-default" ng-repeat="project in projectsLeaderboard.data | orderObjectBy:('total.'+main.sortItem):true | filter:main.greaterThan('total.'+main.sortItem, 0)">
        <div class="panel-body">
            <div class="col-md-1">
                <h3 ng-bind="$index+1"></h3>
            </div>
            <div class="col-md-1">
                <img src ng-src="http://robohash.org/{{ project.name | md5 }}" class="avatar img-circle">
            </div>
            <div class="col-md-5">
                <h3><a href ng-href="#/projects/{{ project.name }}" ng-bind="project.name.split('/')[1]"></a></h3>
            </div>
            <div class="col-md-1">
                <h3 ng-bind="project.total[main.sortItem]"></h3>
            </div>
            <div class="col-md-4 vertical-center">
                <ul>
                    <li ng-repeat="points in project.points | orderObjectBy:main.sortItem:true | filter:main.greaterThan(main.sortItem, 0) | limitTo:3">
                        <a href ng-href="#/contributors/{{ points.contributor }}" ng-bind="points.contributor"></a>
                        <span class="label label-default">{{(points[main.sortItem] / project.total[main.sortItem] * 100) | number:0}}%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
