<div class="project">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"><img src ng-src="http://robohash.org/{{ project.name | md5 }}" class="avatar-big img-circle"></div>
            <div class="col-md-5"><h3>{{ project.name.split('/')[1] }}</h3></div>
            <div class="col-md-1"><h3>{{ project.total.points }}</h3></div>
            <div class="col-md-4">
                <ul>
                    <li>commits: <span class="label label-info">{{ project.total.commits }}</span></li>
                    <li>additions: <span class="label label-success">{{ project.total.additions }}</span></li>
                    <li>deletions: <span class="label label-danger">{{ project.total.deletions }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="leaderboard" ng-if="project.total[$parent.sortItem]">
    <div class="panel panel-default" ng-repeat="contributor in project.points | orderObjectBy:$parent.sortItem:true  | filter:greaterThan($parent.sortItem, 0)">
        <div class="panel-body">
            <div class="col-md-1"><h3>{{ $index+1 }}</h3></div>
            <div class="col-md-1"><img src ng-src="{{ contributors[contributor.contributor].profile.avatar_url }}" class="avatar img-circle"></div>
            <div class="col-md-5"><h3><a href ng-href="#/contributors/{{ contributor.contributor }}">{{ contributor.contributor }}</a></h3></div>
            <div class="col-md-1"><h3>{{ contributor[$parent.sortItem] }}</h3></div>
            <div class="col-md-4 vertical-center">
                <progressbar value="contributor[$parent.sortItem] / project.total[$parent.sortItem] * 100" type="{{ $parent.sortItemStyle() }}">
                    <span ng-hide="contributor[$parent.sortItem] / project.total[$parent.sortItem] < 0.05">{{ (contributor[$parent.sortItem] / project.total[$parent.sortItem]) * 100 | number:0 }}%</span>
                </progressbar>
            </div>
        </div>
    </div>
</div>
<div ng-if="!project.total[$parent.sortItem]">
    <div class="panel panel-default">
        <div class="panel-body" ng-cloak>
            Oops, no {{ $parent.sortItem }} found for the selected period!
        </div>
    </div>
</div>