<div class="project">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-2"><img src ng-src="http://robohash.org/{{ project.data.name | md5 }}" class="avatar-big img-circle"></div>
            <div class="col-md-5"><h3 ng-bind="project.data.name.split('/')[1]"></h3></div>
            <div class="col-md-1"><h3 ng-bind="project.data.total.points"></h3></div>
            <div class="col-md-4">
                <ul>
                    <li>commits: <span class="label label-info" ng-bind="project.data.total.commits"></span></li>
                    <li>additions: <span class="label label-success" ng-bind="project.data.total.additions"></span></li>
                    <li>deletions: <span class="label label-danger" ng-bind="project.data.total.deletions"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="leaderboard" ng-if="project.data.total[main.sortItem]">
    <div class="panel panel-default" ng-repeat="contributor in project.data.points | orderObjectBy:main.sortItem:true | filter:main.greaterThan(main.sortItem, 0)">
        <div class="panel-body">
            <div class="col-md-1"><h3 ng-bind="$index+1"></h3></div>
            <div class="col-md-1"><img src ng-src="//robohash.org/{{ project.contributors[contributor.contributor].profile.login | md5 }}?set=set5" class="avatar img-circle"></div>
            <div class="col-md-5"><h3><a href ng-href="#/contributors/{{ contributor.contributor }}" ng-bind="contributor.contributor"></a></h3></div>
            <div class="col-md-1"><h3 ng-bind="contributor[main.sortItem]"></h3></div>
            <div class="col-md-4 vertical-center">
                <div uib-progressbar value="contributor[main.sortItem] / project.data.total[main.sortItem] * 100" type="{{ main.sortItemStyle() }}">
                    <span ng-hide="$parent.percent < 5">
                        <span ng-bind="$parent.percent | number:0"></span>%
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="!project.data.total[main.sortItem]">
    <div class="panel panel-default">
        <div class="panel-body" ng-cloak>
            Oops, no <span ng-bind="main.sortItem"></span> found for the selected period!
        </div>
    </div>
</div>
