<div class="leaderboard">
    <div class="row range-row">
        <div class="col-md-1">
            <ul class="nav nav-pills">
                <li><a href ng-click="refresh()" class="icon-refresh" title="Refresh">&#8635;</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>{{ startWeek | date:'dd MMM yyyy' }} - {{ endWeek | date:'dd MMM yyyy' }}</h4>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-pills">
                <li ng-class="{active: isRange(0)}"><a href ng-click="setRange(0)">This week</a></li>
                <li ng-class="{active: isRange(1)}"><a href ng-click="setRange(1)">2 weeks</a></li>
                <li ng-class="{active: isRange(3)}"><a href ng-click="setRange(3)">1 month</a></li>
                <li ng-class="{active: isRange(12)}"><a href ng-click="setRange(12)">3 months</a></li>
                <li ng-class="{active: isRange(25)}"><a href ng-click="setRange(25)">6 months</a></li>
                <li ng-class="{active: isRange(51)}"><a href ng-click="setRange(51)">1 year</a></li>
            </ul>
        </div>
    </div>
    <div class="row" ng-repeat="project in leaderboard | orderObjectBy:'totalPoints':true | filter:greaterThan('totalPoints', 0)">
        <div class="col-md-1">{{ $index+1 }}</div>
        <div class="col-md-5"><h3>{{ project.name }}</h3></div>
        <div class="col-md-1"><h3>{{ project.totalPoints }}</h3></div>
        <div class="col-md-5">
            <ul>
                <li ng-repeat="points in project.points | orderObjectBy:'points':true | filter:greaterThan('points', 0) | limitTo:3">
                    {{ points.contributor }}: <span class="label label-default">{{ points.points }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

