.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.leaderboard .avatar {
    height: 48px;
}

.leaderboard .range-row {
    margin-bottom: 20px;
}

.leaderboard .icon-refresh {
    font-weight: bold;
}
