.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.toolbar {
    margin-bottom: 18px;
}

.leaderboard .avatar {
    height: 60px;
}

.leaderboard .range-row {
    margin-bottom: 20px;
}

.leaderboard .icon-refresh {
    font-weight: bold;
}

.leaderboard ul {
    margin: 0;
}

.leaderboard h3 {
    margin-top: 18px;
}

.leaderboard a {
    color: #C8C8C8;
    border-bottom: 1px solid transparent;
}

.leaderboard a:hover {
    text-decoration: none;
    border-bottom: 1px dashed #C8C8C8;
}


.leaderboard .panel {
    margin-bottom: 2px;
}

.leaderboard .img-circle {
    background-color: #272B30;
}

.leaderboard .panel .vertical-center {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.header .progress {
    height: 2px;
    margin-top: -20px;
}

.header .progress .progress-bar {
    background-color: #4a5258;
}
