.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.leaderboard .avatar {
    height: 48px;
}

.leaderboard .range-row {
    margin-bottom: 20px;
}

.leaderboard .icon-refresh {
    font-weight: bold;
}

.header .progress {
    height: 2px;
    margin-top: -20px;
}

.header .progress .progress-bar {
    background-color: #4a5258;
}
