<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Github Leaderboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootswatch-slate/index.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">GitHub Leaderboard</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: inUrl('/contributors')}"><a href="#/contributors">Contributors</a></li>
                <li ng-class="{active: inUrl('/projects')}"><a href="#/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/eugef/github-leaderboard" target="_blank">Project on GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="header">
    <div class="container">
        <progressbar value="progress.current" max="progress.total"></progressbar>
    </div>
</div>

<div class="toolbar">
    <div class="container">
        <div class="row range-row">
            <div class="col-md-1">
                <div class="btn-group" dropdown>
                    <button type="button" ng-click="refresh()" class="btn btn-default icon-refresh" ng-class="{'btn-primary': !isRefresh(0)}" title="Refresh">&#8635;</button>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-class="{'btn-primary': !isRefresh(0)}">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Auto-Refresh</li>
                        <li ng-class="{active: isRefresh(0)}"><a href ng-click="setRefresh(0)">Off</a></li>
                        <li class="divider"></li>
                        <li ng-class="{active: isRefresh(5)}"><a href ng-click="setRefresh(5)">Every 5m</a></li>
                        <li ng-class="{active: isRefresh(10)}"><a href ng-click="setRefresh(10)">Every 10m</a></li>
                        <li ng-class="{active: isRefresh(30)}"><a href ng-click="setRefresh(30)">Every 30m</a></li>
                        <li ng-class="{active: isRefresh(60)}"><a href ng-click="setRefresh(60)">Every 1h</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <h4 ng-cloak>{{ startWeek*1000 | date:'dd MMM yyyy' }} - {{ endWeek*1000 | date:'dd MMM yyyy' }}</h4>
            </div>
            <div class="col-md-7">
                <div class="btn-group">
                    <button type="button" ng-click="setRange(0)" class="btn btn-default" ng-class="{active: isRange(0)}">1 week</button>
                    <button type="button" ng-click="setRange(1)" class="btn btn-default" ng-class="{active: isRange(1)}">2 weeks</button>
                    <button type="button" ng-click="setRange(3)" class="btn btn-default" ng-class="{active: isRange(3)}">1 month</button>
                    <button type="button" ng-click="setRange(12)" class="btn btn-default" ng-class="{active: isRange(12)}">3 months</button>
                    <button type="button" ng-click="setRange(25)" class="btn btn-default" ng-class="{active: isRange(25)}">6 months</button>
                    <button type="button" ng-click="setRange(51)" class="btn btn-default" ng-class="{active: isRange(51)}">1 year</button>
                    <button type="button" ng-click="setRange(-1)" class="btn btn-default" ng-class="{active: isRange(-1)}">All time</button>
                </div>
            </div>
            <div class="col-md-1">
                <div class="btn-group pull-right" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-class="{'btn-primary': !isRefresh(0)}" ng-cloak>
                        {{ getSortItem() }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-class="{active: isSortItem('points')}"><a href ng-click="setSortItem('points')">points</a></li>
                        <li class="divider"></li>
                        <li ng-class="{active: isSortItem('commits')}"><a href ng-click="setSortItem('commits')">commits</a></li>
                        <li ng-class="{active: isSortItem('additions')}"><a href ng-click="setSortItem('additions')">additions</a></li>
                        <li ng-class="{active: isSortItem('deletions')}"><a href ng-click="setSortItem('deletions')">deletions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div ng-view></div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-order-object-by/src/ng-order-object-by.js"></script>
<script src="bower_components/angular-cache/dist/angular-cache.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/minimatch/minimatch.js"></script>

<script src="app.js"></script>
<script src="config.js"></script>
<script src="components/services/github.js"></script>
<script src="components/services/leaderboard.js"></script>
<script src="components/models/commitment.js"></script>
<script src="components/models/contributor.js"></script>
<script src="components/models/project.js"></script>
<script src="main/main.js"></script>
<script src="contributors/leaderboard.js"></script>
<script src="contributors/contributor.js"></script>
<script src="projects/leaderboard.js"></script>
<script src="projects/project.js"></script>
</body>
</html>
