<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="MainCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Github Leaderboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootswatch-slate/index.css">
    <link rel="stylesheet" href="app.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">GitHub Leaderboard</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: inUrl('/contributors')}"><a href="#/contributors">Contributors</a></li>
                <li ng-class="{active: inUrl('/projects')}"><a href="#/projects">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/eugef/github-leaderboard" target="_blank">Project on GitHub</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="header">
    <div class="container">
        <progressbar value="progress.current" max="progress.total"></progressbar>
    </div>
</div>

<div class="toolbar">
    <div class="container">
        <div class="row range-row">
            <div class="col-md-1">
                <ul class="nav nav-pills">
                    <li><a href ng-click="refresh()" class="icon-refresh" title="Refresh">&#8635;</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>{{ startWeek*1000 | date:'dd MMM yyyy' }} - {{ endWeek*1000 | date:'dd MMM yyyy' }}</h4>
            </div>
            <div class="col-md-8">
                <ul class="nav nav-pills">
                    <li ng-class="{active: isRange(0)}"><a href ng-click="setRange(0)">1 week</a></li>
                    <li ng-class="{active: isRange(1)}"><a href ng-click="setRange(1)">2 weeks</a></li>
                    <li ng-class="{active: isRange(3)}"><a href ng-click="setRange(3)">1 month</a></li>
                    <li ng-class="{active: isRange(12)}"><a href ng-click="setRange(12)">3 months</a></li>
                    <li ng-class="{active: isRange(25)}"><a href ng-click="setRange(25)">6 months</a></li>
                    <li ng-class="{active: isRange(51)}"><a href ng-click="setRange(51)">1 year</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div ng-view></div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-order-object-by/src/ng-order-object-by.js"></script>
<script src="bower_components/angular-cache/dist/angular-cache.js"></script>
<script src="bower_components/angular-md5/angular-md5.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/minimatch/minimatch.js"></script>

<script src="app.js"></script>
<script src="config.js"></script>
<script src="components/services/github.js"></script>
<script src="components/services/leaderboard.js"></script>
<script src="components/models/commitment.js"></script>
<script src="components/models/contributor.js"></script>
<script src="components/models/project.js"></script>
<script src="main/main.js"></script>
<script src="contributors/leaderboard.js"></script>
<script src="projects/leaderboard.js"></script>
<script src="projects/project.js"></script>
</body>
</html>
